.details{
    height:40vw;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}.error{
    text-align:center;
    color:white;
    font-size:2rem;
    display:flex;
    justify-content:center;
}
#symbol{
    display:none;
    position:absolute;
    top:35%;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height:100px;
    width:100px;
    border:2px solid black;
    color:white;
    background-color:blue;
    text-align:center;
    margin:10px;
}
#symbol h1{
    position:relative;
    top:30%;
}
#symbol span{
    position:absolute;
    top:-55%;
    right:10%;
    font-size:01rem;
}
#symbol sub{
    position:absolute;
    bottom:-50%;
    right:10%;
    font-size:01rem;
}
#detail{
    position:absolute;
    top:60%;
}
#detail ul{
    list-style-type: none;
    color:white;
    font-size:1.2rem;
}
#detail ul li{
    margin:10px;
    text-align:left;
}
#details span{
    color:white;
    font-size:1.5rem;
    text-align:center;
}